{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}
    <h1  class="text-center mt-5">Votre Panier</h1>

    {% if items | length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.product.description }}</td>
                    <td>{{ item.product.formattedPrice }}</td>
                    <td>
                        <a href="{{ path("card_add", {'id': item.product.id}) }}" class="btn btn-sm btn-primary">
                            <i class="fas fa-plus"></i>
                        </a>
                        {{ item.quantity }}
                        <a href="{{ path("card_decrement", {'id': item.product.id}) }}" class="btn btn-sm btn-primary">
                            <i class="fas fa-minus"></i>
                        </a>
                    </td>
                    <td>{{ item.product.price * item.quantity  ~ ' ' ~ '00' ~ ' €'}}</td>
                    <td>
                        <a href="{{ path('card_remove', {'id': item.product.id }) }}" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfood>
                <tr>
                    <td colspan="3" class="text-right">Total:</td>
                    <td>{{ total  ~ ' ' ~ '00' ~ ' €' }}</td>
                    <td></td>
                </tr>
            </tfood>
        </table>
    {% else %}
        <p>Votre panier est vide!</p>
    {% endif %}

{% endblock %}
