<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">Tu es la plus belle</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="true">
                        Products
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for c in categoryRepository.findAll() %}
                            <li><a class="dropdown-item"
                                   href="{{ path("product_category_show", { id: c.id }) }}">{{ c.name }}</a></li>
                        {% endfor %}
                        <li><a class="dropdown-item" href="#">En solde</a></li>
                    </ul>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0" id="searchForm" action="{{ path('product_index') }}" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q"
                       id="searchField">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link my-2 my-sm-0" href="{{ path('app_logout') }}"> Se déconnecter</a>
                </li>
                {% else %}
                    <li class="nav-item">
                    <a class="nav-link my-2 my-sm-0" href="{{ path('app_login') }}"> Se connecter</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link my-2 my-sm-0" href="">My Account</a>
                </li>
                <li class="nav-item my-2 my-sm-0">
                    <a class="nav-link" href="{{ path('card_index') }}">Mon panier</a>
                </li>

            </ul>
        </div>
    </div>
</nav>